@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container-fluid pt-4 px-4">
    <h2 class="text-primary">Pendaftaran Pasien</h2>
    <!---------START UPPER BUTTON------------->
    <div class="bg-light rounded h-50 p-4">
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-outline-primary"><i class="fa-solid fa-home"></i>Save</button>
            <button type="button" class="btn btn-outline-success"><i class="fa fa-check me-1"></i>Submit</button>
            <button type="button" class="btn btn-outline-danger"><i class="fa fa-trash me-1"></i>Delete</button>
        </div>
    </div>
    <!---------END UPPER BUTTON------------->

</div>
